apiVersion: apps/v1
kind: Deployment
metadata:
  name: suratech
  labels:
    app: suratech
spec:
  replicas: 2
  selector:
    matchLabels:
      app: suratech
  template:
    metadata:
      labels:
        app: suratech
    spec:
      containers:
        - name: suratech
          image: suratech:local
          imagePullPolicy: Never
          ports:
            - name: http
              containerPort: 8080
          envFrom:
            - configMapRef:
                name: suratech-config
            - secretRef:
                name: suratech-secret

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1024Mi"